<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheet/styles.css">
    <title>SecureChat App</title>
</head>
<body class="home">

   <h1>SecureChat App</h1>

    <form class="user-form" action="/login" method="post">
        
        <ul>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" value="{{username}}" placeholder="Enter your username">
        </ul>
      
        <ul>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" placeholder="Enter your password">
        </ul>

        <button type="submit" id="login">Login</button>
    </form>

</body>

<script>

    </script>
</html>