<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureChat</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <ul>
            <br>
            <label for="username">Create a username: </label>
            <input type="text" id="username" name="username" placeholder="Create a username"required>
            <br>
        </ul>
        <ul>
            <br>
            <label for="password">Create a password: </label>
            <input type="password" id="password" name="password" placeholder="create a unique password" required>
            <br>
        </ul>
        <button type="submit" id="signup">Sign Up</button>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

</body>
</html>